@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary: #2e8b57;
  --secondary: #3cb371;
  --tertiary: #f8f9fa;
  --heading: #353839;
  --links: #2b2b2b;
  --text: #1c1c1c;
}

main {
  padding: 20px;
}

/* Navs*/

.first-nav-custom {
  background-color: var(--tertiary);
}

.custom-font-title strong {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: var(--heading);
}

.custom-font {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

::placeholder {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

.links-custom {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  color: var(--links);
}

.second-nav-custom {
  background-color: var(--primary);
}

.dropdowns-custom .nav-link {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  color: var(--links);
}

/* Cards */

.releases-text {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

.releases-dropdown-custom {
  color: var(--primary);
}

.cards-container {
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.cards-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 5px;
}

.card.card-custom {
  margin: 0.5rem;
  border-color: var(--secondary);
  width: 18rem;
  flex: 0 0 auto;
}

.card-body {
  background-color: var(--tertiary);
}

.img-container {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.card-text {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--text);
}

.title-text {
  color: var(--secondary);
  font-weight: bold;
}

.price-text {
  font-weight: bold;
}

.price-text-discount {
  text-decoration: line-through;
}

.discounted-price {
  color: var(--secondary);
}

.card-btn-container {
  text-align: center;
}

.btn.card-btn-custom {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  border: 1px solid var(--secondary);
  color: var(--text);
}

/* Info and promotions */

.promotions {
  margin: 0.5rem;
  gap: 5px;
}

.promotion-card {
  background-color: #f8f9fa;
  border: 1px solid var(--secondary);
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

.sell-books-card {
  background-color: var(--secondary);
  border: 1px solid var(--tertiary);
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

.btn-bargain-books {
  font-style: italic;
  color: var(--secondary);
}

.btn-sell-books {
  font-style: italic;
  color: var(--tertiary);
}

.fa-arrow-right-long.bargain-arrow {
  color: var(--secondary);
}

.promotions-links {
  text-decoration: none;
}

.fa-arrow-right-long.sell-arrow {
  color: var(--tertiary);
}

/* FAQs */

/* .faqs-custom {
  background-color: var(--secondary);
} */

.faqs-container {
  background-color: var(--secondary);
}

.faqs-custom i {
  display: block;
  margin-bottom: 0.5rem;
}

.faqs-custom p {
  margin: 0;
  font-weight: bold;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  color: var(--text);
}

.faqs-custom .col {
  padding: 10px;
}

.faq-item i {
  display: block;
}

/* Footer */

.footer-custom {
  background-color: var(--tertiary);
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  color: var(--text);
}

.footer-bottom-custom {
  background-color: var(--primary);
}

/* Add book form */
